@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

.page-container {
  position: relative;

  width: 100%;
  height: 100vh;
  background: url(./images/background.png) center / cover no-repeat fixed;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2.5rem;
}

.banner-center {
  position: absolute;
  width: 100%;
  top: clamp(10rem, 20vw, 12rem);
  left: 0;
}

.banner-center img {
  width: clamp(250px, 55vw, 600px);
}

.form-wrapper {
  display: flex;
  justify-content: center;
  width: max-content;
}

.title-container {
  color: #fff;
  background: #8BC43F;
  padding: 24px 20px;
  border-radius: 8px 0 0 8px;
  text-align: center;
}

.title-container h1 {
  margin-bottom: 12px;
  font-size: clamp(16px, 5vw, 20px);
}

.form-input__container {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #fff;
  padding: 0px 12px 0px 0px;
  border-radius: 0 8px 8px 0;
}

.edge {
  width: 0;
  height: 100%;
  border-style: solid;
  border-width: 55px 0 55px 16px;
  border-color: transparent transparent transparent #8BC43F;
}

form {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form-title h1 {
  font-size: 20px;
  color: #6B6C6E;
}

.form-title span {
  color: #82C53A;
}

.input-wrapper input {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #aaa0a075;
  border-radius: 5px;
}

button {
  font-size: 16px;
  color: #fff;
  padding: 5px 44px;
  border-radius: 5px;
  background-color: #82C53A;
  border: 1px solid rgb(184, 156, 156);
}

.input-wrapper {
  display: flex;
  gap: 20px;
}

@media screen and (width <=1020px) {
  .form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
  }
}

@media screen and (width <=997px) {
  .title-container {
    padding: 18px 9px;
  }

  .title-container h1 {
    font-size: 18px;
  }

  .title-container p {
    font-size: 14px;
  }

  .edge {
    border-width: 37px 0 37px 16px;
  }

  form {
    gap: 5px;
  }

  .input-wrapper {
    display: flex;
    gap: 10px;
  }

  .form-title h1 {
    font-size: 16px;
    color: #6B6C6E;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  .form-wrapper {
    flex-direction: column;
  }

  .title-container {
    width: 100%;
    padding: 18px 6px;
    border-radius: 8px 8px 0 0;
  }



  .title-container p {
    font-size: 16px;
  }

  .edge {
    display: none;
  }

  .form-input__container {
    border-radius: 0 0 10px 10px;
    width: 100%;
    justify-content: center;
  }

  form {
    padding: 20px;
  }

  .form-title h1 {
    margin-bottom: 10px;
  }

  .input-wrapper {
    flex-direction: column;
  }

}



@media screen and (width <=576px) {
  .form-title h1 {
    max-width: 200px;
    padding: 20px;
    margin-bottom: 0;
    text-align: center;
  }

  .title-container h1 {
    margin-bottom: 2px;
  }


  form {
    padding: 14px 0;
  }

  .form-input__container{
    padding: 0 30px;
  }
}